

<footer class="footer">
<hr class="kan">
<h4>Kanso Appartment Renting Company </h4>
</footer>
<script src="/script/script.js"></script> 
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
</html>