<div class="listing">
    <h2>Recent Posting</h2>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Property Type</th>
        <th scope="col">Location</th>
        <th scope="col">Room</th>
        <th scope="col">Bath</th>
        <th scope="col">Parking</th>
        <th scope="col">Posted Date</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Comparision</th>
        <th scope="col">View</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Condo</td>
            <td>Boston</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>03/20/19</td>
            <td>Great location, near school and business</td>
            <td>1500$</td>
            <td><input type="checkbox" name="comparision"/></td>
            <td><a href="#">View</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Single Family</td>
            <td>Lowell</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>03/21/19</td>
            <td>Quite Area</td>
            <td>1000$</td>
            <td><input type="checkbox" name="comparision"/></td>
            <td><a href="#">View</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Multiple Family</td>
            <td>New York</td>
            <td>3</td>
            <td>1</td>
            <td>1</td>
            <td>03/19/19</td>
            <td>Restaurant nearby</td>
            <td>2000$</td>
            <td><input type="checkbox" name="comparision"/></td>
            <td><a href="#">View</a></td>
        </tr>
    </tbody>
    </table>
</div>