<div class="searchbar">
    <form method="get" action="/listings/te/f">
    <!--Change and keep background color on click 'google'-->
        <ul>
            <li><a>rent</a></li>
            <li><a href="posting">post a property</a></li>
        </ul>

        <div class="property">
            <div class="location">
                <input typy="text" name="location" placeholder="Enter a location" required>
            </div>
            <div class="type">
                <select name="property" required>   
                    <option value="">Propery Type</option>
                    <option value="single family">Single Family</option>
                    <option value="condo">Condo</option>
                    <option value="multiple family">Mulity Family</option>
                </select>
            </div>
            <div class="submit">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div> 
        </div>
    </form>
</div>


