body{
  background-color: url("../media/apartment5.jpg");
  margin: 0;
  /* background-size: cover; */
}

*[role="form"] {
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f3;
}

*[role="form"] h2{ 
    font-family: 'Open Sans' , sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.container {
  display: inline;
}
img.image{
  display: block;
  margin: 0px;
  float: center;
}

/* .registerbtn {
  display: inline-block;
  position: relative;
  background-color: #4CAF50;
  border: 2px solid #0062cc;
  font-size: 110%;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 30%;
  border-radius: 0.8rem;
  left: 200px;
}

.registerbtn:hover {
  opacity: 1;
  background-color: #0062cc;
} */

.loginbtn {
  position: relative;
  display: inline-block;
  width: 30%;
  font-size: 110%;
  padding: 8px 10px;
  left: 140px;
  border: 1px solid #0062cc;
   color: white;
  cursor: pointer;
  border-radius: .8rem;
}

.loginbtn:hover {
  opacity: 1;
  background-color: #0062cc;
}

.signin{
  position: relative;
  left: 120px;
}