
body{
    /* background-color: url("../media/apartment5.jpg"); */
    margin: 0;
    /* background-size: cover; */
  }

  
*{
    box-sizing : border-box;
    font-family: serif;
}





.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    
    margin: 0px;
}

.navbar ul{
    list-style: none;
    padding: 0;
    /* background-color: #f1f1f1; */
    overflow: hidden;
    margin: 0;
    
    
}

.navbar ul li{
    /* display: block; */
    float: left;
    display: block;
    text-transform: uppercase;
    color: red;
    border: 2px solid lightblue;
    margin: 10px 10px;
    border-radius: 5px;
}

.navbar ul li a{
    display: block;
    color: #000;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.navbar ul li a:hover{
    background-color: lightblue;
    color: green;
}



.navbar ul{
    float: right;
    margin: 15px 15px;
}

.navbar{
    background-image: url('../media/banner.jpg');
}

#logo img{
    height: 100px;
    width: 100px;
    /* border: 2px solid red; */
    margin-left: 50px;
}

#logo{
    float: left;
}









