body {
     /* background: url('../media/apartment5.jpg') fixed; */
    background-size: cover;
}

*[role="form"] {
    max-width: 500px;
    padding-right: 30px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f3;
    margin-top: 30px;
}

*[role="form"] h2{ 
    font-family: 'Open Sans' , sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}

.container {
  display: inline;
  margin: center;
}
img.image{
  display: block;
  margin: 0px;
  float: center;
}

.registerbtn {
  background-color: #4CAF50;
  border: 2px solid #0062cc;
  font-size: 110%;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
  border-radius: 0.8rem;
  left: 28%;
  position: relative;
}

.registerbtn:hover {
  opacity: 1;
  background-color: #0062cc;
}


.custom-select{
  position: relative;
  width: 69%;
  background-color: white;; 
  left: 15px;
  /* width: 180px; */
  margin: auto;
  border: none;   
  height: 32px;
  border: 1px solid gray;
  border-radius: 0;
  color: gray;
  opacity: .8;
}

.form-control{
  border: 1px solid gray;
}