
<div class="slideshow-container">
    <div class="mySlides fade">
    <img src="/media/apartment1.jpg" style="width:100%;  height: 400px;">
    </div>

    <div class="mySlides fade">
    <img src="/media/apartment2.jpg" style="width:100%;  height: 400px;">
    </div>

    <div class="mySlides fade">
    <img src="/media/apartment3.jpg" style="width:100%;  height: 400px;">
    </div>

    <div class="mySlides fade">
    <img src="/media/apartment4.jpg" style="width:100%;  height: 400px;">
    </div>

    <div class="mySlides fade">
    <img src="/media/apartment5.jpg" style="width:100%;  height: 400px;">
    </div>
    <% include ./partials/searchbar %>
</div>

<div style="display: none">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<% include ./partials/listing %>