<% include ./partials/header %>






      <!-- <h1>Kanso</h1> -->
      <!-- <div class="container"> -->
      <form class="form-horizontal" role="form" style="margin-top: 50px; padding-right: 30px;" method="POST" action="">
         <h3 style="margin-left: 35px;"> Login </h3>
         <div class="form-group">
         </div>
            <div class="form-group">
                  <label for="email" class="col-sm-3 control-label">Email</label>
                  <div class="col-sm-9">
                  <input type="email" id="email" name="email" placeholder="Email" class="form-control" name= "email" required>
                  </div>
            </div>
            <div class="form-group">
                  <label for="password" class="col-sm-3 control-label">Password</label>
                  <div class="col-sm-9">
                  <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
                  </div>
            </div>
            <div class="form-group">
                  <div class="container" >
                  <button type="submit" onclick="document.getElementById('id01').style.display='none'" class="loginbtn btn btn-primary">Login</button>
                  </div>
            </div>
         </div>
         <p> <a href="#">Forget password?</a>.</p>
      </form>



      <% include ./partials/footer %>